<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <import resource="logger-beans.xml"/>
    <import resource="property-loader.xml"/>

    <bean id="client" class="den.xmlconfiguration.Client"
          p:greeting="${greeting}"
          c:id="${id}"
          c:fullName="${app.userName}"/>
    <!--
        Possible to use:
        <constructor-arg value="${id}"/>
        <constructor-arg value="${name}"/>
          or:
          <constructor-arg value="UserName"/>
        <property name="greeting" value="${greeting}"/>
    -->

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combineEventLogger"/>
    </util:map>

    <bean id="mainApplication" class="den.xmlconfiguration.StartApp">
        <constructor-arg ref="consoleEventLogger"/>
        <constructor-arg ref="loggerMap"/>
        <constructor-arg ref="client"/>
    </bean>

</beans>