<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <import resource="logger-beans.xml"/>

    <bean id="client" class="den.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Barac Obama"/>
        <property name="greeting" value="Hello there"/>
    </bean>

    <bean id="mainApplication" class="den.StartApp">
        <constructor-arg ref="eventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="eventLogger"/>
                <entry key="ERROR" value-ref="combineEventLogger"/>
            </map>
        </constructor-arg>
        <constructor-arg ref="client"/>
    </bean>

</beans>